@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Supermercado One", sans-serif;
}

:root {
    --cor-texto: #fafafa;
    --bg-imagem: url(../assets/background-black.jpg);
    --main-border: 1px solid #fafafa80;
    --main-bg: linear-gradient(#fafafa20, #fafafa80);
    --link-border: 1px solid #fafafa80;
    --link-bg: #2b2b2b80;
    --link-texto: #fafafa;
    --link-bg-houver: #2b2b2b;
    --btn-troca-bg: #fafafa20;
}

body.light {
    --cor-texto: #1a1a1a;
    --bg-imagem: url(../assets/background-light.jpg);
    --main-border: 1px solid #1a1a1a;
    --main-bg: linear-gradient(#a8a8a8, #f0f0f0);
    --link-border: 1px solid #1a1a1a;
    --link-bg: #d1d1d180;
    --link-texto: #1a1a1a;
    --link-bg-houver: #d1d1d1;
    --btn-troca-bg: #1a1a1a20;
}


h1 {
    font-family: "Supermercado One", sans-serif;
    color: var(--cor-texto);
}

body {
    width: 100%;
    height: 100dvh;
    background-image: var(--bg-imagem);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        width: 300px;
        padding: 4.75rem 1rem 1rem 1rem;
        border: var(--main-border);
        background-image: var(--main-bg);
        backdrop-filter: blur(2px);
        position: relative;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            text-align: center;

        }

        p {
            text-align: center;
        }


        .foto {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            .frente,
            .verso {
                width: 100;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                overflow: hidden;
                backface-visibility: hidden;
                transition: transform 300ms ease;

                img {
                    width: 100%;
                    display: block;
                }
            }

            .frente {
                z-index: 2;
            }

            &:hover {
                .frente {
                    transform: rotateY(180deg);
                }

                .verso {
                    transform: rotateY(360deg);
                }
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                list-style-type: none;

                a {
                    width: 100%;
                    height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    border: 1px solid #fafafa;
                    border-radius: 5rem;
                    background-color: #2b2b2b;
                    color: #fafafa;
                    text-decoration: none;
                    transition: 300ms;

                    i {
                        color: rgb(0, 255, 21);
                    }

                    &:hover {
                        transform: scale(1.05);
                        background-color: #1099d8;

                    }
                }
            }
        }


    }
}

#TrocaTema {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: var(--main-border);
    background-color: var(--btn-troca-bg);
    color: var(--cor-texto);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 300ms all;

    &:hover {
        transform: scale(1.1);
    }
}